.container {
  trix-toolbar .trix-toolbar-buttons {
    background-color: #f1f4f9;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid #e4e8f1;
    width: 100%;
    justify-content: space-evenly;
  }
}
